* {
	margin: 0px;
}

body {
	background-color: #0059A1;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
	background-color: white;
	border: 1px solid #444;
	padding: 20px;
	margin: 20px;
	font-size: 14px;
	line-height: 1.5em;
	letter-spacing: .02em;
}

a {
	text-decoration: none;
	color: #0059A1;
}

a:active, a:hover {
	color: #0088cc;
}


/* --- HEADER / FOOTER --- */
header, footer {
	font-size: 11px;
}

header {
	color: #B3CDE3;
	margin-bottom: 20px;
	background-color: #004C8B;
	padding: 5px;
	text-align: center;
	line-height: 1.5em;
	letter-spacing: .02em;
}

footer {
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 30px;
}

footer a {
	color: white;
}

footer a:hover {
	color: #004C8B;
}


/* --- NAV --- */
.navbar {
	margin-top: 10px;
}

.navbar img {
	display: inline;
}

.nav {
	float: right;
	margin-top: 25px;
	margin-right: 10px;
}

.nav a {
	font-size: 18px;
	margin-left: 15px;
	color: #0059A1;
}

.nav a:active, a:hover {
	color: #0088cc;
}

@media (max-width:845px) {
	.nav {
		display: none;
	}
}



/* --- CONTENT --- */
.container > img {
	width: 100%;
	margin-top: 30px;
}

.thirds img {
	width: 100%;
	margin-top: 50px;
}

.main-thirds {
	display: flex;
	justify-content: space-between;
}

.thirds {
	width: 33%;
	box-sizing: border-box;
	display: inline-block;
}

.thirds:last-child, .thirds:nth-child(2){
	margin-left: 25px;
}

.container > p {
	margin: 10px;
}

.center {
	text-align: center;
}

@media (max-width:755px) {
	.main-thirds {
		display: block;
	}
	.thirds {
		width: 100%;
	}
	.thirds:last-child, .thirds:nth-child(2){
		margin-left: 0px;
	}
	.thirds a {
		color: #444;
		font-weight: bold;
	}

	.footer {
		display: block;
	}
	.footer div {
		margin-bottom: 10px;
	}
	.right {
		text-align: right;
	}
}
